*Store*
*.txt
!CMakeLists.txt
cmake-build-debug
.idea
t??/build/*
workspace.xml
modules.xml
test.iml
vcs.xml
misc.xml
sprint0?.iml
/t00/app/src/CMakeLists.txt
/t00/app/src/test.h
/t00/app/src/test.cpp
/t00/app/CMakeLists.txt
/t00/app/main.cpp
/t00/CMakeLists.txt
